/*
*{
    margin: 0;
    padding: 0;
}

.HomePage-Full{

}

.Home-Content{

}

.hero-image{

}

.Welcome-home{

}

.button-art{

}

.Projects-button{

}

.AnotherHero-Img{

}

.AboutMe{

}

.aboutMeText{

}

.secret-arg-comment-box{
    
}

*/