.Foot-Full{
    width: 100%;
    height: 80px;
    bottom: 0;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: auto;

    background-color: #FFD1D6;
    font-family: 'Nunito', sans-serif;
}

.foot_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0;
    margin: 0;

    font-size: 1.25rem; 
}

.plus{
    font-weight: bold;
}

.foot_links li a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.foot_links li a:hover{
    text-decoration: underline;
    color: #ff6375;
}

.Hi{
    margin-top: 0.5rem;
    font-size: 1.25rem; 
    font-weight: 500;
}
