/* css for the navbar*/

/* navigation bar main container*/
.naviBar {
    width: 100%;
    height: 80px;
    padding: 1.4rem;

    display: flex;
    align-items: center;

    background-color: #ffd1d6;
    font-family: 'Nunito', sans-serif;
}

/* left area of nav bar*/
.naviBar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* image of da logo */
.logo_image {
    width: 75px;
    height: 50px;

}

/* logo name font and stujff */
.logoName {
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

/* stuff for da left */
.nav-links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-left: auto; 
    margin-right: 2.5rem;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

/* underlines da words you hover over :3*/
.nav-links li a:hover {
    text-decoration: underline;
}

/* dark mode botton */
.dark-toggle {
    background: none;
    border: none;
    cursor: pointer; 
    display: flex;
    align-items: center;
}

/* moon toggle to uh do light and dark mode */
.Moontoggle {
    width: 50px;
    height: 50px;
}
