*{
    margin: 0;
    padding: 0;
}
/*
.cornerDansengifRight{

}

.cornerDansenGifLeft{

}

.Sugoi-FullPage{

}

.Sugoi-Content{

}

.Title{

}

.Vector-Icons{

}

.Dino-Icon{

}

.Email{

}

.Github{

}

.Linkedin{

}

.Resume{

}

.Ad1{

}

.MangaPanel1{

}

.GotD{

}

.carasol{

}

.MangaPanel2{

}

.Small-ad3{

}

*/