@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Welcome-Fullscreen{

    background-color:rgb(255, 245, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Maybe make the deco bits be images lil creetures*/
.deco-bit{
    position: absolute;
    width: 350px;
    height: auto;
}

.fox_white{
    bottom: 10px;
    right: 10px;
    border-left: 0;
    border-bottom: 0;
}

.black_fox{
    top: 10px;
    left: 10px;
    border-right: 0;
    border-top: 0;

}

.border{
    position: absolute;
    width: 350px;
    height: auto;
}

.bord_leftbottom{
    bottom: 10px;
    left: 10px;
    transform: rotate(270deg);
}

.bord_topR{
    top: 10px;
    right: 10px;
    transform: rotate(270deg);

}

.welcomeHeader{
    font-family: 'Nunito', sans-serif;  
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    width: 100%;
}

.image-container{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Persona Image */
@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.persona-animation {
    width: 445px;
    height: 445px;
    animation: float 3s ease-in-out infinite;
}


/* start button */
.start{
    padding: 15px 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    background-color: #FFA5A7;
    border: 2px solid #E79191;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start:hover{
    background-color: #ff8b8d;
    transform: translateY(-2px);

}

.start:hover {
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0%   { transform: scale(1); }
    30%  { transform: scale(1.08); }
    60%  { transform: scale(0.95); }
    100% { transform: scale(1); }
}


.start:active{
    transform: translateY(0);
}

/*Animation to type in words for header and button, also have it passively move/animate on spot*/

